<label class="col-12 p-0 d-flex position-relative justify-content-center ">
    <div id="inputs" class="col-12 p-0 d-flex justify-content-evenly">
        <input type="text" maxlength="1"
               class="input-styles text-white input-styles-otp input-error-styles col-1 text-center" name=""
               placeholder="-">
        <input type="text" maxlength="1"
               class="input-styles text-white input-styles-otp input-error-styles col-1 text-center" name=""
               placeholder="-">
        <input type="text" maxlength="1"
               class="input-styles text-white input-styles-otp input-error-styles col-1 text-center" name=""
               placeholder="-">
        <input type="text" maxlength="1"
               class="input-styles text-white input-styles-otp input-error-styles col-1 text-center" name=""
               placeholder="-">
        <input type="text" maxlength="1"
               class="input-styles text-white input-styles-otp input-error-styles col-1 text-center" name=""
               placeholder="-">
    </div>
</label>