<modal class="overflow-y-scroll show-modal ">
    <modalBody>
        <div class="col-12 d-flex p-0 m-0 justify-content-end">
            <img id="close_modal" src="src/icon/close-circle.svg" class="w-30px cursor-pointer h-30px" alt="">
        </div>
        <div dir="auto" class="col-12 d-md-none text-dark d-flex flex-wrap p-1">
            <h4 class="col-12 col-md-6 m-0  fw-bold text-center ">متاسفم</h4>
            <div class="col-12 p-0 m-0 my-4 px-5 text-center">
                ظاهرا شمع خاموش نمیشه!
                باید با دست خاموشش کنی :(
            </div>
        </div>
        <section class="col-12 col-md-6 row m-0 p-0 justify-content-center align-content-end">
            <figure class="col-12 p-0 d-flex h-200px pb-3 justify-content-center align-items-center">
                <img src="src/icon/failed.svg" class="img-fluid" alt="">
            </figure>
        </section>
        <section dir="auto"  class="col-md-6 col-12 row text-dark m-0  justify-content-center align-content-end">
            <h4 class="col-12 m-0 d-none d-md-flex justify-content-center fw-bold  ">متاسفم</h4>
            <div class="col-12 p-0  p-2 d-flex flex-wrap">
                <div class="col-12 p-0 m-0 my-3 d-none d-md-flex justify-content-center w-300px px-5">
                    ظاهرا شمع خاموش نمیشه!
                    باید با دست خاموشش کنی :(
                </div>
                <div class="col-12 p-2 rounded-4  text-center">
                    قبلش آرزو یادت نره
                    <br>
                    <button dir="rtl" class="btn btn-orange rounded-4 col-auto my-3 p-3  text-white">
                        <img src="src/icon/like.svg" alt="" class="img-fluid">
                        با دست خاموشش میکنم!
                    </button>
                </div>
            </div>
        </section>
    </modalBody>
</modal>