<modal class="overflow-y-scroll show-modal ">
    <modalBody class="overflow-visible w-382px h-512px">
        <figure class="col-12 m-0 h-200px position-relative p-0 d-flex justify-content-center ">
            <img src="src/images/gift.svg" class="img-fluid image-gift " alt="">
        </figure>
        <section dir="auto" class="w-100 user-select-none d-flex justify-content-center align-content-start flex-wrap text-dark">
            <h5 class="col-12 p-0 m-0 text-center fw-bold ">مرسی اومدی تولدمون</h5>
            <p class="w-100 p-0 m-0 text-center my-4">کد تخفیف 150 هزارتومانی تولد الانزا</p>
            <div  class="border-orange my-3 bg-orange-opacity col-12 d-flex justify-content-between align-items-center w-250px rounded-4 p-2 ">
                <div class="rounded-3 ">
                    <img src="src/icon/voucher.svg" alt="">
                </div>
                <strong class="text-orange">
                    HBD21414xfewfey
                </strong>
                <button class="rounded-3 w-30px h-30px bg-orange">
                    <img src="src/icon/copy.svg" alt="">
                </button>
            </div>
            <div class="w-250px my-2 text-center">
                اینم کادوی الانزا به تو :)
            </div>
            <div class="col-12 my-3 d-flex justify-content-center align-items-center">
                <button class="rounded-4 btn-orange text-white p-3  ">
                    <img src="src/icon/shop.svg" alt="">
                    بریم برای خرید از سایت
                </button>
            </div>
        </section>
    </modalBody>
</modal>