<modal class="overflow-y-scroll  ">
    <modalBody>
        <div class="col-12  d-flex p-0 m-0 justify-content-end">
            <img id="close_modal" src="src/icon/close-circle.svg" class="w-30px cursor-pointer h-30px" alt="">
        </div>
        <section dir="auto" class="w-100 user-select-none d-flex align-content-start flex-wrap text-dark">
            <h5 class="col-12 p-0 m-0 text-center fw-bold ">فوت کن :)</h5>
            <p class="w-100 p-0 m-0 text-center my-4">توی میکروفون گوشیت فوت کن!</p>
            <figure title="فوت کن :)" class="col-12 p-0 d-flex justify-content-center align-items-center">
                <img src="src/icon/wind.svg" alt="">
            </figure>
        </section>
    </modalBody>
</modal>