<modal class="overflow-y-scroll show-modal ">
    <modalBody>
        <div class="col-12 d-flex p-1 m-0 justify-content-end">
            <img id="close_modal" src="src/icon/close-circle.svg" class="w-30px cursor-pointer h-30px" alt="">
        </div>
        <div dir="auto" class="col-12 d-md-none text-dark d-flex flex-wrap p-1">
            <h4 class="col-12 col-md-6 m-0  fw-bold text-center ">تبریک میگم!</h4>
            <div class="col-12 p-0 m-0 my-4 px-4 text-center">
                تو یه فوتر حرفه ای هستی و برای
                فوت کردن شمع الانزا برگزیده شدی :)
            </div>
        </div>
        <section class="col-12 mb-3 col-md-6 row m-0 p-0 justify-content-center align-content-end">
            <figure class="col-12 p-0 d-flex h-200px pb-3 justify-content-center align-items-center">
                <img src="src/icon/success.svg" class="img-fluid" alt="">
            </figure>
        </section>
        <section dir="auto"  class="col-12 col-md-6 row text-dark m-0 p-0 justify-content-center align-content-end">
            <h4 class="col-12 m-0 d-none justify-content-center d-md-flex fw-bold">تبریک میگم!</h4>
            <div class="col-12  p-0  p-2 d-flex flex-wrap">
                <div class="col-12 d-none d-md-flex p-0 m-0 my-3 px-4 text-center">
                    تو یه فوتر حرفه ای هستی و برای
                    فوت کردن شمع الانزا برگزیده شدی :)
                </div>
                <div class="col-12 p-2 rounded-4  text-center">
                    قبلش آرزو یادت نره
                    <br>
                    <button dir="rtl" class="btn btn-orange rounded-4 col-auto my-3 p-3  text-white">
                        <img src="src/icon/candle.svg" alt="" class="img-fluid">
                        بریم برای فوت کردن شمع
                    </button>
                </div>
            </div>
        </section>
    </modalBody>
</modal>