<modal class="overflow-y-scroll ">
    <modalBody>
        <div class="col-12 d-flex p-0 m-0 justify-content-end">
            <img id="close_modal" src="src/icon/close-circle.svg" class="w-30px cursor-pointer h-30px" alt="">
        </div>
        <section class="col-6 row m-0 p-0 justify-content-center align-content-end">
            <button dir="rtl" class="btn btn-orange rounded-4 col-8 mb-3 p-3 fs-5 text-white">
                <img src="src/icon/like.svg" alt="" class="img-fluid">
                تست فوت!
            </button>
            <button dir="rtl" class="border border-dark bg-white rounded-4 p-0 col-8 my-3 py-3 text-center">
                با دست خاموشش میکنم!
            </button>
            <figure class="col-12 p-0 d-flex justify-content-center align-items-center">
                <img src="src/icon/wind.svg" alt="">
            </figure>
        </section>
        <section dir="auto"  class="col-6  row text-dark m-0 p-0 justify-content-center align-content-start">
            <h4 class="col-12 m-0  fw-bold text-center ">خب رفیق!</h4>
            <div class="col-12  p-0  p-2 d-flex flex-wrap">
                <div class="col-12 p-0 m-0 my-3  text-center fs-5">
                    قبل از فوت باید تست فوت بدی :)
                </div>
                <p class="col-12 p-2 rounded-4 bg-warm text-center">
                    به هرحال فوت کردن کار آسونی نیست!!
                    <br>
                    <br>
                    برای خاموش کردن شمع روی دکمه تست فوت کلیک کن بعدش اگر نیاز بود دسترسی میکروفون
                    رو به ما بده....
                    <br>
                    <br>
                    و توی میکروفونت بلند فوت کن
                </p>
            </div>
        </section>
    </modalBody>
</modal>