<form class="col-12 mt-md-5 w-382px d-flex flex-wrap justify-content-center m-0 p-0 ">
    <h3 dir="auto" class="hpd-text col-12">
        تولد دو سالگی الانزا مبارک :)
    </h3>
    <div class="ready-test d-flex flex-wrap justify-content-center align-content-center col-12">
        <h3 class="col-12 text-center m-0 p-0 fw-bold">
            آماده ای شمع‌هارو فوت کنی؟
        </h3>
        <button type="button" id="ready_test"
                class="btn col-auto col-md-12 btn-linear-orange rounded-4 mt-4 p-3 fs-5 text-white">
            آرهههه
            <img src="src/icon/like.svg" alt="" class="img-fluid">
        </button>
    </div>
</form>

<form class="col-12 mt-md-5 w-382px d-flex flex-wrap justify-content-center m-0 p-0 ">
    <h3 dir="auto" class="hpd-text col-12">
        تولد دو سالگی الانزا مبارک :)
    </h3>
    <div class="ready-test d-flex flex-wrap justify-content-center align-content-center col-12">
        <h3 class="col-12 text-center m-0 p-0 fw-bold">
            آماده ای شمع‌هارو فوت کنی؟
        </h3>
        <button type="button" id="ready_test"
                class="btn col-auto col-md-12 btn-linear-orange rounded-4 mt-4 p-3 fs-5 text-white">
            آرهههه
            <img src="src/icon/like.svg" alt="" class="img-fluid">
        </button>
    </div>
</form>