@import url(swiper.css);
@import url(bootstrap.css);
.btn-linear-orange {
  background-image: linear-gradient(265deg, #F2713C -4.53%, #FF9C07 117.35%); }

.btn-orange {
  background-image: linear-gradient(91deg, #F26C36 -2.12%, #F38559 115.95%); }

.fs-14px {
  font-size: 0.875rem !important; }

.pt-30px {
  padding-top: 30px !important; }

.h-30px {
  height: 30px; }

.h-512px {
  height: 512px !important; }

.h-72px {
  height: 72px !important; }

.h-200px {
  height: 200px; }

.w-30px {
  width: 30px; }

@media screen and (min-width: 508px) {
  .w-382px {
    width: 382px !important; } }
.w-300px {
  width: 300px; }

.w-250px {
  width: 250px; }

.text-justify {
  text-align: justify !important; }

.transition-1 {
  transition: 1s !important; }

.overflow-y-scroll {
  overflow-x: hidden !important;
  overflow-y: scroll; }

.cursor-pointer {
  cursor: pointer; }

.bg-warm {
  background: #F5F5F5; }

.image-gift {
  position: absolute;
  transform: translateY(-35%);
  scale: 0.8; }

.border-orange {
  border: 1px solid #F26C36; }

.text-orange {
  color: #F26C36; }

.bg-orange {
  background: #F26C36; }

.bg-orange-opacity {
  background-image: linear-gradient(91deg, rgba(242, 108, 54, 0.1) -2.12%, rgba(243, 133, 89, 0.1) 115.95%); }

.icon-input {
  z-index: 2;
  left: 30px;
  top: 50%;
  transform: translate(-50%, -50%); }

.input-styles {
  border-radius: 20px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px); }
  .input-styles:focus {
    border: 1px solid #FFF;
    outline: none; }
  .input-styles::placeholder {
    color: white; }

.input-styles-otp {
  width: 60px;
  height: 60px;
  outline: none !important; }

.input-success-styles {
  color: #1CCD8D !important;
  border-radius: 20px;
  transform-origin: left;
  border: 1px solid #1CCD8D;
  background: rgba(64, 255, 0, 0.2);
  backdrop-filter: blur(2px);
  animation: error 0.8s alternate; }
  .input-success-styles::placeholder {
    color: #1CCD8D; }
  .input-success-styles:focus {
    border: none;
    outline: none; }
@keyframes error {
  50% {
    transform: rotate(-2deg); }
  100% {
    transform: rotate(0); } }
.input-error-styles {
  color: red !important;
  border-radius: 20px;
  transform-origin: left;
  border: 1px solid #FF002E;
  background: rgba(255, 0, 46, 0.2);
  backdrop-filter: blur(2px);
  animation: error 0.8s alternate; }
  .input-error-styles::placeholder {
    color: red; }
  .input-error-styles:focus {
    border: none;
    outline: none; }
@keyframes error {
  50% {
    transform: rotate(-2deg); }
  100% {
    transform: rotate(0); } }
modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transform: scale(0); }
  modal::-webkit-scrollbar {
    width: 8px;
    background: #01192e; }
  modal::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 8px;
    background-image: linear-gradient(265deg, #F2713C -4.53%, #FF9C07 117.35%); }

modalBody {
  overflow-y: hidden;
  display: flex;
  align-content: stretch;
  padding: 3px;
  flex-wrap: wrap;
  min-width: 300px;
  max-width: 700px;
  min-height: 260px;
  max-height: 666px;
  background: white;
  border-radius: 30px; }

.show-modal {
  transition: 0.6s;
  opacity: 1;
  transform: scale(0);
  animation: 2s anime forwards; }
@keyframes anime {
  10% {
    opacity: 1;
    transform: scale(1.1); }
  20% {
    opacity: 1;
    transform: scale(1); }
  30% {
    opacity: 1;
    transform: scale(1); }
  40% {
    opacity: 1;
    transform: scale(1.01); }
  50% {
    opacity: 1;
    transform: scale(0.999); }
  60% {
    opacity: 1;
    transform: scale(1.01); }
  to {
    opacity: 1;
    transform: scale(1);
    background: rgba(26, 30, 33, 0.71); } }
.hide-modal {
  transition: 0.6s;
  opacity: 0;
  transform: scale(0); }

@font-face {
  font-family: Pelak;
  src: url("../../font/Pelak-Regular.woff2"); }
body {
  font-family: Pelak, serif;
  overflow-x: hidden;
  background: url("../../images/background.png") center;
  background-size: cover;
  scroll-behavior: smooth; }
  body::-webkit-scrollbar {
    width: 8px;
    background: #01192e; }
  body::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 8px;
    background-image: linear-gradient(265deg, #F2713C -4.53%, #FF9C07 117.35%); }

svg {
  vertical-align: inherit !important;
  border: none !important; }

button {
  border: none; }

.cake-image-off {
  background-image: url("../../images/cacke/New Cake-6-min.webp") !important;
  background-size: 100% 85%;
  background-position: center;
  transform: translateX(-10px);
  background-repeat: no-repeat;
  scale: 1.1 !important;
  transition: 0.2s !important; }
  @media screen and (max-width: 500px) {
    .cake-image-off {
      width: 400px; } }
  @media screen and (min-width: 508px) {
    .cake-image-off {
      width: 420px; } }

.cake_image {
  background-image: url("../../images/cacke/New Cake-1-min.webp");
  background-size: 100% 85%;
  background-position: center;
  transform: translateX(-10px);
  background-repeat: no-repeat;
  animation: animeCake 1s  infinite;
  position: relative; }
  @media screen and (max-width: 500px) {
    .cake_image {
      width: 400px; } }
  @media screen and (min-width: 508px) {
    .cake_image {
      width: 420px; } }
@keyframes animeCake {
  0% {
    background-image: url("../../images/cacke/New Cake-1-min.webp"); }
  20% {
    background-image: url("../../images/cacke/New Cake-2-min.webp"); }
  40% {
    background-image: url("../../images/cacke/New Cake-3-min.webp"); }
  60% {
    background-image: url("../../images/cacke/New Cake-1-min.webp"); }
  80% {
    background-image: url("../../images/cacke/New Cake-3-min.webp"); }
  100% {
    background-image: url("../../images/cacke/New Cake-1-min.webp"); } }
  .cake_image > .clickable::after {
    content: "";
    display: flex;
    width: 150px;
    height: 150px;
    background-image: url("../../icon/touch.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 50%;
    top: 0;
    transition: 1s;
    transform: translateX(-50%);
    cursor: pointer; }

.hpd-text {
  position: absolute;
  width: 300px;
  color: #FFF;
  text-align: center;
  text-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
  opacity: 0;
  animation: 3s remove_text 1s forwards; }
@keyframes remove_text {
  20% {
    opacity: 1; }
  to {
    opacity: 0; } }
.ready-test {
  opacity: 0;
  animation: 2s show_text_anime 3s forwards; }
@keyframes show_text_anime {
  to {
    opacity: 1; } }
#ready_test {
  animation: 1s btn 4s infinite; }
@keyframes btn {
  0% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(0); } }
.confetti {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: #ffd300;
  top: 0;
  opacity: 0; }
  .confetti-piece:nth-child(1) {
    left: 7%;
    transform: scale(1.2) rotate(-39deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 95ms;
    animation-duration: 9097ms; }
  .confetti-piece:nth-child(2) {
    left: 14%;
    transform: scale(1.2) rotate(-47deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 158ms;
    animation-duration: 5611ms; }
  .confetti-piece:nth-child(3) {
    left: 21%;
    transform: scale(1.2) rotate(12deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 141ms;
    animation-duration: 9154ms; }
  .confetti-piece:nth-child(4) {
    left: 28%;
    transform: scale(1.2) rotate(-61deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 62ms;
    animation-duration: 6341ms; }
  .confetti-piece:nth-child(5) {
    left: 35%;
    transform: scale(1.2) rotate(-36deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 96ms;
    animation-duration: 6912ms; }
  .confetti-piece:nth-child(6) {
    left: 42%;
    transform: scale(1.2) rotate(-76deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 51ms;
    animation-duration: 7696ms; }
  .confetti-piece:nth-child(7) {
    left: 49%;
    transform: scale(1.2) rotate(-20deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 374ms;
    animation-duration: 7338ms; }
  .confetti-piece:nth-child(8) {
    left: 56%;
    transform: scale(1.2) rotate(76deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 481ms;
    animation-duration: 7654ms; }
  .confetti-piece:nth-child(9) {
    left: 63%;
    transform: scale(1.2) rotate(-11deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 214ms;
    animation-duration: 3879ms; }
  .confetti-piece:nth-child(10) {
    left: 70%;
    transform: scale(1.2) rotate(34deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 117ms;
    animation-duration: 6941ms; }
  .confetti-piece:nth-child(11) {
    left: 77%;
    transform: scale(1.2) rotate(-58deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 170ms;
    animation-duration: 6825ms; }
  .confetti-piece:nth-child(12) {
    left: 84%;
    transform: scale(1.2) rotate(-38deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 61ms;
    animation-duration: 7515ms; }
  .confetti-piece:nth-child(13) {
    left: 91%;
    transform: scale(1.2) rotate(23deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 56ms;
    animation-duration: 5435ms; }
  .confetti-piece:nth-child(odd) {
    background: #17d3ff; }
  .confetti-piece:nth-child(even) {
    z-index: 1; }
  .confetti-piece:nth-child(4n) {
    width: 5px;
    height: 12px;
    animation-duration: 2000ms; }
  .confetti-piece:nth-child(3n) {
    width: 3px;
    height: 10px;
    animation-duration: 2500ms;
    animation-delay: 1000ms; }
  .confetti-piece:nth-child(4n-7) {
    background: #ff4e91; }

@keyframes makeItRain {
  from {
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    transform: translateY(800px); } }

/*# sourceMappingURL=index.css.map */
