<form id="get_mobile_form" class="col-12 d-flex flex-wrap justify-content-center p-0  ">
    <label class="col-12 p-0  d-flex position-relative justify-content-center ">
                        <span id="icon_check" class="position-absolute icon-input d-none">
                            <img src="src/icon/tick.svg" alt="">
                        </span>
        <input id="user_mobile" maxlength="11" autocomplete="off" type="tel" class="col-12 d-flex w-382px text-white h-72px rounded-4 input-styles text-center" placeholder="شماره موبایل خود را وارد نمایید">
    </label>
    <button type="submit" class="col-12 rounded-4 p-0  m-0 mt-3 text-white  btn-orange p-3 d-flex justify-content-center align-items-center">
        <img src="src/icon/arrow-left.svg" class="img-fluid" alt="">
        بریم برا تولد
    </button>
</form>